/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/bin/
/composer.phar
/node_modules
/bower_components
src/AppBundle/Tests/_output/*
tests/_output/*
/web/bundles/
/web/uploads/
/var/bootstrap.php.cache
/web/minified/
