{% extends "AppBundle::base.html.twig" %}

{% block title %}
	{{ pagemeta.getPageTitle() }}
{% endblock %}

{% block content %}
{% if pagemeta is not null %}
	<div class="jumbotron">
		<h1>{{ pagemeta.getShortDescription() | raw }}</h1>
	</div>

	{%  if pagemeta.featuredImage is not null %}
		{{ pagemeta.featuredImage }}
	{% endif %}
	{{ pagemeta.getContent() | raw }}

{% endif %}
{% endblock %}
